$icon-font-path: '../fonts/';
@import url(https://fonts.googleapis.com/css?family=Roboto:900,500);

@import "variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "twentytwenty";

body{
  padding-top: 50px;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.overlay-content{
  width:100%;
  position:absolute;
  display:flex;
  height:100%;
  .container{
    display:flex;
    align-items: center;
    height:100%;
    @media (max-width: $screen-xs-max){
      align-items: flex-end;
    }
  }
}
.image-slide{
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.fullscreen-bg-video {
    position: absolute;
    left: 0;
    width: 100%;
    right: 0;
    z-index:-1;
    @media (max-width: $screen-xs-max){
      height:105%;
      width:auto;
      margin-left:-50%;
    }
    @media (min-width: $screen-sm-min){
      height:105%;
      width:auto;
      margin-left:-50%;
    }
    @media (min-width: $screen-md-min){
      height:105%;
      width:auto;
      margin-left:0;
    }
    @media (min-width: $screen-lg-min){
      height:auto;
      width:100%;
      margin-left:0;
    }
}

#hero-intro{
  color:#ececec;
  @media (max-width: $screen-xs-max){
    align-items: center;
  }
}
#government-ipad{
  @media (max-width: $screen-xs-max){
    background-image: url("/images/government-buildings/ipad_hd_portrait.jpg");
  }
  @media (min-width: $screen-sm-min){
    background-image: url("/images/government-buildings/ipad_wxga.jpg");
  }
  @media (min-width: $screen-md-min){
    background-image: url("/images/government-buildings/ipad_hd.jpg");
  }
}

#government-iphone{
  @media (max-width: $screen-xs-max){
    background-image: url("/images/government-buildings/iphone_hd_portrait.jpg");
  }
  @media (min-width: $screen-sm-min){
    background-image: url("/images/government-buildings/iphone_wxga.jpg");
  }
  @media (min-width: $screen-md-min){
    background-image: url("/images/government-buildings/iphone_hd.jpg");
  }
}

#oriental-ipad{
  @media (max-width: $screen-xs-max){
    background-image: url("/images/oriental-bay/ipad_hd_portrait.jpg");
  }
  @media (min-width: $screen-sm-min){
    background-image: url("/images/oriental-bay/ipad_wxga.jpg");
  }
  @media (min-width: $screen-md-min){
    background-image: url("/images/oriental-bay/ipad_hd.jpg");
  }
}
#ship-ipad{
  @media (max-width: $screen-xs-max){
    background-image: url("/images/wwii-ship/ipad_hd_portrait.jpg");
  }
  @media (min-width: $screen-sm-min){
    background-image: url("/images/wwii-ship/ipad_wxga.jpg");
  }
  @media (min-width: $screen-md-min){
    background-image: url("/images/wwii-ship/ipad_hd.jpg");
  }
}
#statue-iphone{
  @media (max-width: $screen-xs-max){
    background-image: url("/images/wwi-statue/iphone_hd_portrait.jpg");
  }
  @media (min-width: $screen-sm-min){
    background-image: url("/images/wwi-statue/iphone_wxga.jpg");
  }
  @media (min-width: $screen-md-min){
    background-image: url("/images/wwi-statue/iphone_hd.jpg");
  }
}

.panel h2{
  margin-top:0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
